body {
    margin: 0;
    background-color: rgba(6, 0, 29, 0.795);
}

img {
    pointer-events: none;
    user-select: none;
}

#navimg {
    width: 260px;
}

#content
{
    color: white;
    width: auto;
    height: 200dvh;
    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    
}

#content a
{
    text-align: right;
    font-family: 'Ubuntu Condensed', sans-serif;
    
}


h1
{
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 30px;
}